commands:
  01_add_chrome_repo:
    command: |
      cat > /etc/yum.repos.d/google-chrome.repo << 'EOF'
      [google-chrome]
      name=google-chrome
      baseurl=http://dl.google.com/linux/chrome/rpm/stable/x86_64
      enabled=1
      gpgcheck=1
      gpgkey=https://dl.google.com/linux/linux_signing_key.pub
      EOF
    ignoreErrors: false

  02_install_chrome:
    command: dnf install -y google-chrome-stable
    ignoreErrors: false